@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudDialogProvider/>
<MudSnackbarProvider/>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private static readonly string[] DefaultFontFamily =
    {
        "Montserrat",
        "system-ui",
        "-apple-system",
        "Segoe UI","Roboto",
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        "Arial,sans-serif",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"
    };
    MudTheme MyCustomTheme = new MudTheme();
}